.detailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    .detailsHeading {
        text-align: center;
    }

    .boldText {
        font-weight: bold;
    }

    .beerImg {
        max-width: 30px;
    }
    
    .ratingInput {
        padding: 5px;
    }

    .btn {
        cursor: pointer;
        background-color: #2d70df;
        color: #fff;
        font-size: 1rem;
        padding: 15px;
        border: none;
        margin-bottom: 15px;
    }

}