.addBeerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;

  .addBeerHeading {
    text-align: center;
  }

  .addBeerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 15px;

    .inputContainer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;

      .label {
        text-align: left;
        flex: 1 1 30%;
        font-weight: bold;
      }

      .input {
        flex: 1 1 60%;
        font-size: 1rem;
        padding: 5px;
      }
    }
  }

  .boldText {
    font-weight: bold;
  }

}
